# Task 5

## 1. Python program to merge two files into one

In [2]:
# importing libraries
import pandas as pd

In [3]:
# fetching dataset-1
df1 = pd.read_csv('years_data.csv')
df1.head()

     DateTime  Max_temp
0  01/01/1951     20.14
1  01/02/1951     21.68
2  01/03/1951     21.28
3  01/04/1951     21.61
4  01/05/1951     21.39

In [4]:
# fetching dataset-2
df2 = pd.read_csv("tmin_data.csv")
df2.head()

     datetime  dummy
0  01/01/1951   3.68
1  02/01/1951   3.60
2  03/01/1951   3.51
3  04/01/1951   4.09
4  05/01/1951   5.10

In [5]:
# merging the datasets
merged = pd.concat([df1, df2], axis=1)
merged.head()

     DateTime  Max_temp    datetime  dummy
0  01/01/1951     20.14  01/01/1951   3.68
1  01/02/1951     21.68  02/01/1951   3.60
2  01/03/1951     21.28  03/01/1951   3.51
3  01/04/1951     21.61  04/01/1951   4.09
4  01/05/1951     21.39  05/01/1951   5.10

## 2. Python program to sort files in different folders

In [6]:
import os
import shutil

In [7]:
# getting current directory path
print(os.getcwd())

C:\Users\MANU

In [9]:
# getting details of a directory
os.listdir()

['-1.14-windows.xml',
 '.AndroidStudio2.2',
 '.azuredatastudio',
 '.conda',
 '.condarc',
 '.continuum',
 '.gradle',
 '.ipynb_checkpoints',
 '.ipython',
 '.jupyter',
 '.matplotlib',
 '.vscode',
 '2 April_world DB.ipynb',
 '28 Jan EDA.ipynb',
 'AMDRM_Install.log',
 'anaconda3',
 'AndroidStudioProjects',
 'ansel',
 'AppData',
 'Application Data',
 'Basic numpy.ipynb',
 'BIKE PROJECT (LINEAR REGRESSION).ipynb',
 'CityTable.csv',
 'Contacts',
 'Cookies',
 'country.ipynb',
 'CountryTable.csv',
 'dataof_project.ipynb',
 'Dec 16 _ 2_Heart+Disease+Prediction (1) (2) Final.ipynb',
 'Documents',
 'Downloads',
 'Favorites',
 'LanguageTable.csv',
 'Links',
 'Local Settings',
 'Microsoft',
 'movies_data.csv',
 'Music',
 'My Documents',
 'NetHood',
 'NTUSER.DAT',
 'ntuser.dat.LOG1',
 'ntuser.dat.LOG2',
 'NTUSER.DAT{ba29439b-82f4-11ed-a1a4-8bfbe45b378f}.TM.blf',
 'NTUSER.DAT{ba29439b-82f4-11ed-a1a4-8bfbe45b378f}.TMContainer00000000000000000001.regtrans-ms',
 'NTUSER.DAT{ba29439b-82f4-11ed-a1a4-8bfbe45b378f}.TMContainer00000000000000000002.regtrans-ms',
 'ntuser.ini',
 'OneDrive',
 'pandas Data manipulation and data visualisation.ipynb',
 'Plots.ipynb',
 'PrintHood',
 'Recent',
 'Sales order.xlsx',
 'Saved Games',
 'Searches',
 'SendTo',
 'Start Menu',
 'task_5_by_rohit_rannavre.ipynb',
 'telecom_churn_data.csv',
 'Templates',
 'tmin_data.csv',
 'Untitled.ipynb',
 'Untitled1.ipynb',
 'Untitled2.ipynb',
 'Untitled3.ipynb',
 'Untitled4.ipynb',
 'Untitled5.ipynb',
 'Untitled6.ipynb',
 'Videos',
 'years_data.csv',
 'Yoshops_Order_List.xlsx',
 'zomato eda-Copy1.ipynb',
 'zomato eda.ipynb',
 'zomato-eda-tutorial.ipynb']

In [15]:
for files in os.listdir():
    if files.endswith(".jpg"):
        #print (files)
        destination = r'C:\Users\MANU\Desktop\YOSHOPS\TASK 4\Master'
        shutil.move(files, destination)

In [12]:
for files in os.listdir():
    if files.endswith(".png"):
        #print (files)
        destination = r'C:\Users\MANU\Desktop\YOSHOPS\TASK 4\Master'
        shutil.move(files, destination)

In [13]:
for files in os.listdir():
    if files.endswith(".PNG"):
        #print (files)
        destination = r'C:\Users\,MANU\Desktop\YOSHOPS\TASK 4\Master'
        shutil.move(files, destination)

In [26]:
# creating a new folder inside dir named as word 

destination = r'C:\Users\MANU\Desktop\YOSHOPS\TASK 4\word'

# define the access rights
access_rights = 0o755

try:
    os.mkdir(destination, access_rights)
except OSError:
    print ("Creation of the directory %s failed" % destination)
else:
    print ("Successfully created the directory %s" % destination)

Creation of the directory C:\Users\Rohit\Desktop\YOSHOPS\TASK 4\word failed

In [27]:
# moving word files in new dir word
for files in os.listdir():
    if files.endswith(".docx"):
        #print (files)
        destination = r'C:\Users\MANU\Desktop\YOSHOPS\TASK 4\word'
        shutil.move(files, destination)

In [28]:
# creating multidirectories
# define the name of the directory to be created
path = r'C:\Users\MANU\Desktop\YOSHOPS\TASK 4\word\python_file\pdf'

try:
    os.makedirs(path)
except OSError:
    print ("Creation of the directory %s failed" % path)
else:
    print ("Successfully created the directory %s" % path)

Creation of the directory C:\Users\Rohit\Desktop\YOSHOPS\TASK 4\word\python_file\pdf failed

In [29]:
# moving ipynb files to python directory

for files in os.listdir():
    if files.endswith(".ipynb"):
        #print (files)
        destination = r'C:\Users\MANU\Desktop\YOSHOPS\TASK 4\word\python_file\python_file'
        shutil.move(files, destination)

In [30]:
# moving pdf files to pdf directory

for files in os.listdir():
    if files.endswith(".pdf"):
        #print (files)
        destination = r'C:\Users\MANU\Desktop\YOSHOPS\TASK 4\word\python_file\pdf'
        shutil.move(files, destination)

## 3. Python program to separate duplicates in files

In [31]:
# importing libraries
import os

In [32]:
# fetching data
data = pd.read_csv(r'C:\Users\MANU\Desktop\YOSHOPS\TASK 5\movies_data.csv')
data.head()

                  Movie title Released Year  ImDb Rating      Genre
0      Thor: Love and Thunder         -2022          6.4  adventure
1                   Pinocchio    (I) (2022)          5.1  adventure
2  Brahmastra Part One: Shiva         -2022          5.6  adventure
3                    Moonfall         -2022          5.1  adventure
4                       Beast    (I) (2022)          5.6  adventure

In [33]:
# getting duplicates
duplicates = data[data['Movie title'].duplicated()]
duplicates.head()

       Movie title Released Year  ImDb Rating      Genre
19       Pinocchio         -1940          7.5  adventure
76   The Lion King         -2019          6.8  adventure
98            Dune         -1984          6.3  adventure
137      The Mummy         -2017          5.4  adventure
228       Hercules    (I) (2014)          6.0  adventure

In [34]:
# cheacking duplicates
duplicates.sort_values('Movie title', ignore_index=True).head(20)

                        Movie title Released Year  ImDb Rating      Genre
0                       'Gator Bait         -1973          5.4     Action
1           *batteries not included         -1987          6.6     sci_fi
2                    009 Re: Cyborg         -2012          5.8     Action
3   009-1: The End of the Beginning         -2013          4.5     Action
4                                 1         -2009          6.0     sci_fi
5                  10 Endrathukulla         -2015          5.2     Action
6                         10,000 BC         -2008          5.1     Action
7                   10.0 Earthquake         -2014          3.5     sci_fi
8                   10.0 Earthquake         -2014          3.5     Action
9                         100% Wolf         -2020          5.6     comedy
10                   101 Dalmatians         -1996          5.7     comedy
11                   102 Dalmatians         -2000          4.8     comedy
12                           12 + 1         -1969          5.8     comedy
13            12 Rounds 2: Reloaded         -2013          5.3     Action
14                     13 Assassins         -2010          7.5     Action
15                     13 Assassins         -1963          7.4  adventure
16                     13 Assassins         -1963          7.4     Action
17              13 Frightened Girls         -1963          5.2     comedy
18                 13 Rue Madeleine         -1946          6.9     Action
19                             1941         -1979          5.8     Action

## 4. Python program for sorting files by keywords

In [35]:
# importing libraries
import os

In [36]:
# defining a function to find files by keywords [filenames]
def file_finder(filename, search_path):
    result = []
    for root, dir, files in os.walk(search_path):
        if filename in files:
            result.append(os.path.join(root, filename))
    return result

In [37]:
# applying the function to find 'sample-1.jpg'
file_finder('sample-1.jpg','C:\\Users\\MANU\\Desktop\\YOSHOPS\\TASK 4')

['C:\\Users\\Rohit\\Desktop\\YOSHOPS\\TASK 4\\SAMPLE IMAGES\\sample-1.jpg']

In [38]:
# applying the function to find 'sample-4.jpg'
file_finder('sample-4.jpg','C:\\Users\\MANU\Desktop\\YOSHOPS\\TASK 4')

['C:\\Users\\Rohit\\Desktop\\YOSHOPS\\TASK 4\\SAMPLE IMAGES\\sample-4.jpg']

In [39]:
# defining a fuction to find files with different extentions [.jpg, .docs, .xlsx etc.]

root_dir = 'C:\\Users\\MANU\\Desktop\\YOSHOPS\\TASK 4'

for name in os.listdir(root_dir):
    if os.path.isdir(os.path.join(root_dir ,name)):
        for f in os.listdir(os.path.join(root_dir ,name)):
            if os.path.isfile(os.path.join(root_dir ,name, f)) and f.endswith('.jpg'):
                print(f)
                print(os.path.join(root_dir ,name, f))

sample-1.jpg
C:\Users\Rohit\Desktop\YOSHOPS\TASK 4\SAMPLE IMAGES\sample-1.jpg
sample-2.jpg
C:\Users\Rohit\Desktop\YOSHOPS\TASK 4\SAMPLE IMAGES\sample-2.jpg
sample-3.jpg
C:\Users\Rohit\Desktop\YOSHOPS\TASK 4\SAMPLE IMAGES\sample-3.jpg
sample-4.jpg
C:\Users\Rohit\Desktop\YOSHOPS\TASK 4\SAMPLE IMAGES\sample-4.jpg
sample-5.jpg
C:\Users\Rohit\Desktop\YOSHOPS\TASK 4\SAMPLE IMAGES\sample-5.jpg